.place_view {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.img_test {
  position: relative;
  width: 540px;
  height: 406px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 5%;
  transition: background 0.5s;
  background-position: center center;
}
.img_test .pic {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.button {
  width: 36px;
  height: 36px;
  position: absolute;
  background-repeat: no-repeat;
}
.left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.img_word {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 406px;
  justify-content: space-between;
}
.img_word > p {
  font-weight: 400;
  color: #666666;
}
.img_word > p:first-child {
  font-size: 24px;
  font-weight: 700;
}
.order_panel {
  background-color: #e8e8e8;
  height: 300px;
}
.describe {
  width: 1200px;
  margin: 50px auto;
  word-wrap: break-word;
}
.describe > div {
  margin: 20px 0;
}
.point {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.point img {
  margin-left: 5px;
}
.order_panel form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.order_panel form p,
label {
  font-size: 16px;
  font-weight: 400;
}
.order_panel button {
  width: 154px;
  height: 36px;
  border-radius: 10px;
}
.order_panel .form_title,
.des_title {
  font-weight: 900;
  color: #111111;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-color: gray;
  vertical-align: bottom;
}
input[type="radio"]:checked + span::before {
  background: radial-gradient(#448899 0%, #448899 40%, transparent 50%);
  border-color: #448899;
}
.describe_content,
.address_place,
.traffic {
  line-height: 2;
}
#date {
  padding: 6px;
}
#error_message_show {
  color: red;
  font-size: 20px;
}
#error_date{
  display:none;
}
#error_date.open{
  display: block;
  color: red;
  font-weight: 700;
  font-size: 16px;
}
.message_content{
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  box-sizing: border-box;
}
#btn_msg{
  width: 100px;
  height: 50px;
  margin-left: 50px;
}
.message_block{
  width: 1200px;
  margin: 10px;
  box-sizing: border-box;
  margin: auto;
}
.msg_below{
  border-top:1px solid #424C54;
}
.msg_below p{
  margin: 10px 0;
  color: #424C54;
  font-weight: 700;
}
#msg_context{
  line-height: 2;
}
#btn_more_msg{
  display: block;
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
}
#btn_more_msg.close{
  display: none;
}
#weather_forcast_region{
  position: fixed;
  right: -160px;
  background-color: #333333;
  top: 10%;
  transition: .5s;
  padding: 10px;
  color: #ffffff;
  z-index: 5;
}
#weather_forcast_region.open{
  right: 0px;
}
.weather_block{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.weather_block i,.weather_block p{
  margin-left: 10px;
}
#left_icon,#right_icon{
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left:-50px;
  cursor: pointer;
  color: #202540;
}
#left_icon.close{
  display: none;
}
#right_icon.close{
  display: none;
}

.news{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.news a{
  margin: 10px 0;
}
@media screen and (max-width: 1200px) {
  .place_view {
    width: 90%;
    height: 400px;
  }
  .img_test {
    margin-right: 30px;
  }
  .describe {
    width: 90%;
  }
  .message_block{
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .place_view {
    display: block;
    margin: auto;
    height: 800px;
  }
  .img_test {
    height: 350px;
  }
  .place_view,
  .describe,
  .img_word,
  .img_test,
  .message_block {
    width: 340px;
    margin: auto;
  }
  .img_word,
  .describe {
    justify-content: space-evenly;
  }
  .describe {
    margin: 50px auto;
  }
  #yt_video{
    width: 340px;
  }
  .message_content{
    flex-direction: column;
    padding: 0;
  }
  textarea{
    width: 100%;
  }
  #btn_msg{
    margin-top: 10px;
  }
  .message_block{
    padding: 5px 0;
  }
}
@media screen and (max-width: 450px) {
  .copyright {
    width: 100%;
  }
}