.place_view {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.img_test {
  position: relative;
  width: 540px;
  height: 406px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 5%;
  transition: background 0.5s;
  background-position: center center;
}
.img_test .pic {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.button {
  width: 36px;
  height: 36px;
  position: absolute;
  background-repeat: no-repeat;
}
.left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.img_word {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 406px;
  justify-content: space-between;
}
.img_word > p {
  font-weight: 400;
  color: #666666;
}
.img_word > p:first-child {
  font-size: 24px;
  font-weight: 700;
}
.order_panel {
  background-color: #e8e8e8;
  height: 300px;
  position: relative;
}
.describe {
  width: 1200px;
  margin: 20px auto;
  word-wrap: break-word;
}
.describe > div:not(:first-of-type,:nth-last-of-type(2)) {
  margin: 20px 0;
}
.point {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.point img {
  margin-left: 5px;
}
.order_panel form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.order_panel form p,
label {
  font-size: 16px;
  font-weight: 400;
}
.order_panel button {
  width: 154px;
  height: 36px;
  border-radius: 10px;
  word-break: keep-all;
}
.order_panel .form_title{
  font-weight: 900;
  color: #111111;
}
.des_title{
  font-weight: 900;
  font-size: 20px;
  width: fit-content;
  border-bottom: 5px solid #52CBD4;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.3rem;
  border-radius: 50%;
  border-style: solid;
  vertical-align: bottom;
  border-color: #ccc;
}
input[type="radio"]:checked + span::before {
  background: radial-gradient(#448899 0%, #448899 40%, transparent 50%);
  border-color: #448899;
}
input[type="radio"]:disabled + span{
  opacity: 0;
}
.describe_content,
.address_place,
.traffic {
  line-height: 2;
}
#date {
  padding: 6px;
}
#error_message_show {
  color: red;
  font-weight: 800;
}
#error_date{
  display:none;
}
#error_date.open{
  display: block;
  color: red;
  font-weight: 700;
  font-size: 16px;
}
.message_content{
  display: flex;
  align-items: flex-end;
  padding: 10px 0;
  box-sizing: border-box;
  justify-content: center;
}
#btn_msg{
  width: 100px;
  height: 50px;
  margin-left: 50px;
}
.message_block{
  width: 1200px;
  margin: 10px;
  box-sizing: border-box;
  margin: auto;
}
.msg_below{
  position: relative;
  padding: 10px 0;
  /* border-top:1px solid #424C54; */
}
.msg_below::before{
  content: "";
  width: 100%;
  position: absolute;
  top:0;
  height: 3px;
  background:linear-gradient(90deg, #424C54,#9198e5);
}
.msg_below > p{
  margin: 10px 0;
  color: #424C54;
  font-weight: 700;
}
.msg_below .delete_btn{
  display: none;
}
.msg_below .delete_btn.edit{
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #333;
  color: white;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}
.edit_btn_msg{
  margin: 10px 0;
  text-align: right;
  cursor: pointer;
  font-size: 30px;
}
#msg_context{
  line-height: 2;
}
#btn_more_msg{
  display: block;
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
}
#btn_more_msg.close{
  display: none;
}
#weather_tool{
  display: flex;
  background-color: #fafafa;
  overflow-x: scroll;
  padding: 30px 0;
}
#weather_tool::-webkit-scrollbar{
  height: 2px;
  background-color: #fafafa;
}
.weather_block{
  flex: 0 0 100px;
  margin: 0 30px;
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  box-shadow: 10px 5px 5px #ccc;
}
.weather_icon{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
  height: 100px;
}
.weather_block p{
  white-space: nowrap;
}
/* .weather_block i{
  font-size: 50px;
} */
.raining{
  color: #52cbd4;
  font-size: 20px;
}
.raning_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.rainng_move{
  transform: translateX(-5px);
}
.raning_block > div{
  width: fit-content;
}
.weather_word{
  font-size: 20px;
}
.des_word{
  /* word-break: keep-all; */
  height: 50px;
}
.info_to_flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.score_index{
  margin-left: 10px;
  color: orange;
}
.score_cnt{
  margin-left: 10px;
  font-size: 12px;
  color: #2C4A4C;
}
/* #weather_forcast_region{
  position: fixed;
  right: -160px;
  background-color: #333333;
  top: 10%;
  transition: .5s;
  padding: 10px;
  color: #ffffff;
  z-index: 5;
} */
/* #weather_forcast_region.open{
  right: 0px;
} */
/* .weather_block{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.weather_block i,.weather_block p{
  margin-left: 10px;
}
#left_icon,#right_icon{
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left:-50px;
  cursor: pointer;
  color: #202540;
}
#left_icon.close{
  display: none;
}
#right_icon.close{
  display: none;
} */

.news{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.news a{
  margin: 10px 0;
}
blockquote {
  background: #eee;
  width: 500px;
  padding: 50px 10px;
  box-sizing: border-box;
}
blockquote img {
  width: 100%;
  position: relative;
}
blockquote .img_blk {
  position: relative;
}
blockquote .img_blk .delete_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: #333;
  color: white;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}
.btn_delete_msg{
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}
.btn_edit_msg{
  position: absolute;
  right: 22px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}
.msg_context{
  margin: 20px 0;
}
.msg_context.edit{
  padding: 0 20px;
}
.action_for_booking{
  display: flex;
}
#collect_btn{
  margin-left: 50px;
}
.describe_content,.address_place,.traffic,.news{
  box-shadow: 5px 5px 10px #ccc;
  padding: 10px;
  margin-left: 30px;
}
#near_by{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.near_by_title{
  font-weight: 800;
}
#near_by_attr{
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
}
.find_out_attr{
  margin-left: 20px;
  background-color: #B0C99F;
  padding: 10px;
  color: #2C4A4C;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
  margin-top: 10px;
}
#near_by{
  display: flex;
}
#scroll_bar{
  position: relative;
  flex:0 0 300px;
  height: 50px;
  padding: 20px;
}
#line{
  height: 5px;
  background-color: black;
  border-radius: 10px;
}
#circle{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: cadetblue;
  top: 5px;
  left: 0;
}
#circle::after{
  content:"距離附近 "attr(data-left)" km的景點";
  position: absolute;
  top: -40px;
  left: -15px;
  color: black;
  font-weight: 900;
  white-space: nowrap;
}
#score_real{
  margin-left: 10px;
}
.score_big_board{
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
  margin-left: 23%;
}
.score_board{
  display: flex;
}
.score_board > li{
  position: relative;
}
.full_star,.empty_star{
  font-size: 18px;
}
.full_star{
  position: absolute;
  left:0;
  z-index: -1;
  bottom: 3px;
}
.empty_star.close{
  opacity: 0;
}
.full_star{
  opacity: 0;
}
.full_star.open{
  opacity: 1;
  color: orange;
}
.score_in_msg{
  color: orange;
}
.score_title{
  font-weight: 600;
  color: #448899;
}
#msg_photo_upload{
  display: none;
}
#msg_photo_upload_icon{
  font-size: 30px;
  margin-left: 20px;
}
#photo_message{
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  margin: auto;
}
#photo_message img{
  width: 100px;
  height: 100px;
}
#photo_message > div{
  position: relative;
  margin-top: 10px;
}
#photo_message > div:not(:first-of-type){
  margin-left: 20px;
}
.delete_img{
  position: absolute;
  top: -3px;
  right: -3px;
  color: white;
}
.img_contain_msg{
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}
.img_contain_msg::-webkit-scrollbar{
  height: 3px;
  background-color: transparent;
}
.img_contain_msg > img{
  margin-left: 10px;
  margin-top: 10px;
  height: 200px;
}
.the_wall_inside{
  overflow-y:scroll;
  margin-top: 10px;
  background-color: #E4F3FD;
  padding: 10px;
}
.the_wall_inside::-webkit-scrollbar{
  background-color: transparent;
}
.the_wall_inside > img{
  margin: 10px;
  height: 100px;
  border-radius: 10px;
  width: 100px;
}
.the_wall{
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 400;
  top: 0;
  left: 0;
}
.the_wall.show{
  display: block;
}
.the_wall > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img_div{
  position: relative;
  height: 150px;
  margin: 10px;
}
.img_div > img{
  height: 100%;
}
.img_delete{
  display: none;
  position: absolute;
  top: -3px;
  right: -3px;
  color: #111111;
}
.img_delete.open{
  display: block;
}
#mapid{
  height: 400px;
  z-index: 0;
}
.leaflet-popup-content{
  font-weight: 900;
}
.show_cat_mrt{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}
.show_cat_mrt.show{
  display: block;
}
#show_data{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  padding: 20px;
}
.get_cat_data{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.attr_item{
  padding: 10px;
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  margin: 10px;
}
#res_cat,#res_mrt{
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  background-color: tomato;
}
#res_cat:hover,#res_mrt:hover{
  background-color: orange;
  color: #111111;
}
.red_btn{
  background-color: orange;
}
.video{
  display: flex;
  flex-direction: column;
}
#yt_video{
  align-self: center;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}
.score_big_board{
  text-align: center;
}
#select_certain_date{
  margin-left: 10px;
  color: #448899;
}
.order_panel .warning_form_title{
  font-weight: 700;
  font-size: 10px;
  color: red;
}
@media screen and (max-width: 1200px) {
  .order_panel{
    height: fit-content;
  }
  .order_panel > form > p,.order_panel > form > div{
    margin-top: 30px;
  }
  .img_word{
    height: fit-content;
  }
  #attraction_name,#attraction_cat_and_mrt{
    margin: 10px 0 20px 0;
  }
  .place_view {
    width: 90%;
    height: fit-content;
  }
  .img_test {
    margin-right: 30px;
  }
  .describe {
    width: 90%;
  }
  .message_block{
    width: 90%;
  }
  blockquote{
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #near_by{
    display: block;
  }
  .place_view {
    display: block;
    margin: auto;
    /* height: 800px; */
  }
  .img_test {
    height: 350px;
  }
  .place_view,
  .describe,
  .img_word,
  .img_test,
  .message_block {
    width: 340px;
    margin: auto;
  }
  .img_word,
  .describe {
    justify-content: space-evenly;
  }
  .describe {
    margin: 20px auto;
  }
  #yt_video{
    width: 340px;
  }
  .message_content{
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
  #btn_msg{
    margin-top: 10px;
  }
  .message_block{
    padding: 5px 0;
  }
  .near_by_title{
    text-align: center;
  }
  #near_by_attr{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
  .find_out_attr{
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
  }
  #show_data{
    width: 300px;
    height: 300px;
    overflow-y:scroll;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  #show_data::-webkit-scrollbar{
    background: transparent;
  }
  .describe_content, .address_place, .traffic, .news {
    margin-left: unset;
  }
  .info_to_flex{
    flex-direction: column;
  }
  .video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .des_title{
    margin: auto;
  }
  #photo_message{
    margin: unset;
    width: auto;
  }
}
@media screen and (max-width: 450px) {
  .copyright {
    width: 100%;
  }
}