body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  padding: auto;
  display: grid;
  height: 54px;
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-column: 3/ 4;
  justify-self: end;
  grid-auto-flow: column;
  align-self: center;
}
.nav a {
  margin: 0;
  padding: 0 10px;
  display: grid;
  font-size: 1rem;
  color: #666666;
  justify-self: center;
  text-decoration: none;
}

.home {
  margin: 0;
  color: #448899;
  display: grid;
  grid-column: 2/ 3;
  align-self: center;
  justify-self: start;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 34px;
}

main {
  margin: 54px 0 0 0;
  display: grid;
  justify-items: center;
  align-items: center;
}
#photoGallery {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 37px 15px;
  padding: 0;
  width: 540px;
  height: 406px;
  box-sizing: border-box;
  position: relative;
}
#photoGallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
#pageDots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  gap: 10px;
  margin-bottom: 13px;
}
.pageDot {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  /* border-radius: 50%; */
  border: none;
  box-sizing: border-box;
}

#imgLeftBtn {
  size: 36px;
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 185px;
}
#imgRightBtn {
  size: 36px;
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 185px;
}

#reservation {
  margin: 37px 15px;
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
  width: 600px;
  height: 392px;
  box-sizing: border-box;
  color: #666666;
  border-radius: 5px;
}
#attractionTitle {
  align-self: center;
  justify-self: start;
  margin: 3px 0 0 0;
  padding: 0;
  width: 100%;
  height: 33px;
  font-weight: 700;
  font-size: 24px;
}
#attractionCategory {
  align-self: center;
  justify-self: start;
  width: 100%;
  height: 22px;
  font-weight: 400;
  font-size: 16px;
}
#reservationTable {
  height: 302px;
  box-sizing: border-box;
  background: #e8e8e8;
  border-radius: 5px;
}
#reservationTableTitle {
  font-weight: 700;
  font-size: 16px;
  height: 22px;
  margin: 15px 20px;
}
#reservationTableSlogan {
  font-weight: 400;
  font-size: 16px;
  height: 22px;
  margin: 0 20px 15px 20px;
}
form {
  margin: 0px 20px 41px 20px;
}
#inputDate {
  width: 193px;
  height: 35px;
}
form fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  margin: 20px 0 15px 0;
  padding: 0;
}
#labelTimeText {
  margin-right: 10px;
}
.labelHelfDay {
  display: flex;
  align-items: center;
  margin-right: 14px;
}
.inputRadio {
  display: grid;
  place-content: center;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: currentColor;
  background-color: #fff;
  margin: 0 4px;
  box-sizing: border-box;
}
.inputRadio::before {
  content: "";
  width: 18px;
  height: 18px;
  transform: scale(0);
  border-radius: 50%;
  background: #448899;
}
.inputRadio:checked::before {
  transform: scale(1);
}

#reservationBtn {
  margin: 25px 0 0 0;
  padding: 0;
  width: 154px;
  height: 36px;
  box-sizing: border-box;
  border: #448899;
  background: #448899;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

hr {
  grid-column: 2/4;
  grid-row: 2/3;
  border: 1px solid #e8e8e8;
  width: 1200px;
  padding: 0;
  margin: 37px 0 50px 0;
}
#attranctionInfo {
  width: 1200px;
  height: 362px;
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 0 0 40px 0;
}
#description {
  margin: 10px;
}
#addressInfo {
  margin: 10px;
}
#transportInfo {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #757575;
  height: 104px;
  font-weight: bold;
  line-height: 13px;
}

@media screen and (min-width: 1201px) {
  header {
    grid-template-columns: auto 600px 600px auto;
  }
  main {
    grid-template-columns: auto 600px 600px auto;
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  header {
    grid-template-columns: auto 45% 45% auto;
  }
  main {
    grid-template-columns: auto 45% 45% auto;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
  }
  #photoGallery {
    width: 100%;
  }
  #reservation {
    width: 94.5%;
  }
  hr {
    width: 100%;
  }
  #attranctionInfo {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  header {
    z-index: 2;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #photoGallery {
    overflow: visible;
    margin: 40px 10px 0 10px;
    width: 100%;
    height: 350px;
  }
  #imgLeftBtn {
    /* size: 36px;
    z-index: 1;
    position: absolute; */
    left: 10px;
    top: 157px;
  }
  #imgRightBtn {
    /* size: 36px;
    z-index: 1;
    position: absolute; */
    right: 10px;
    top: 157px;
  }
  #attractionTitle {
    margin-left: 10px;
  }
  #attractionCategory {
    margin-left: 10px;
  }
  #reservation {
    margin: 20px 10px 40px 10px;
    width: 100%;
  }
  #reservationTable {
    height: 300px;
  }
  #reservationTableSlogan {
    height: auto;
  }
  form {
    margin-bottom: 15px;
    height: 190px;
    box-sizing: border-box;
  }
  hr {
    margin: 0 10px;
    width: 100%;
  }
  #attranctionInfo {
    margin: 50px 10px 100px 10px;
    width: 100%;
  }
}
