/* * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }
    a {
      cursor: pointer;
    }
    ::placeholder {
      font-weight: 700;
      color: #757575;
    }
    nav {
      height: 54px;
      width: 100%;
      position: fixed;
      z-index: 4;
      background-color: #fff;
    }
    nav ~ div {
      top: 54px;
      position: relative;
    }
    nav ul {
      display: flex;
      align-items: center;
      width: 1200px;
      margin: auto;
      justify-content: space-between;
    }
    .title {
      color: #448899;
      font-size: 30px;
      padding: 10px 0px;
      font-weight: bold;
    }
    .last-item {
    }
    .last-item a {
      color: #666666;
    } */
.banner {
  min-height: 320px;
  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../pexels-timo-volz-1717859.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.attraction {
  width: 276px;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  height: 280px;
  border-radius: 5%;
  background-position: center center;
  position: relative;
  padding-bottom: 20px;
}
.attraction img:not(.icon_collect) {
  width: 100%;
  height: 70%;
  border-radius: 5% 5% 0 0;
}
.attraction::before{
  content: attr(data-content);
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  transition:.5s;
  text-align: center;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  word-break: keep-all;
}
.attraction::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:.5s;
  background-color:black;
  opacity:0;
  border-radius: 5%;
  z-index:3;
}
.attraction:hover::after{
  opacity: .7;
}
.attraction:hover::before{
  opacity: 1;
}
.description {
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 2;
}
.description p,.description a{
  color: #757575;
  font-weight: 700;
}
.cat {
  float: right;
}
.word {
  width: 1200px;
  margin: 10px 0;
  z-index: 2;
  color: #fff;
}
.word1 {
  font-weight: 700;
  font-size: 28px;
  color: white;
}
.word2 {
  font-weight: 400;
  color: white;
}
.input_text {
  width: 460px;
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
}
.input_text > input {
  width: 400px;
  height: 100%;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  border: 0;
}
input:focus {
  outline: none;
}
.input_text a {
  height: 100%;
  background-color: #448899;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  box-sizing: border-box;
}
.input_text a > img {
  height: 100%;
}
#welcome {
  position: absolute;
  z-index: 1;
  left: 50%;
  display: none;
}
/* .copyright {
          text-align: center;
          padding: 45px 0;
          background-color: #757575;
          color: #fff;
        } */
.main {
  padding: 30px 0;
}
/* :root {
          --wid: 310px;
        }
        .block_page {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          position: fixed;
          display: none;
          z-index: 100;
        }
        .block_page.open {
          display: block;
        }
        .message {
          background-color: #fff;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          width: 340px;
          height: 275px;
          align-items: center;
          justify-content: space-evenly;
        }
        .message input {
          width: var(--wid);
          height: 47px;
          border: 1px solid #cccccc;
          padding: 15px;
          box-sizing: border-box;
        }
        .message .close {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .message.not_you {
          display: none;
        }
        button {
          background-color: #448899;
          font-size: 19px;
          color: #fff;
          font-weight: 400;
          line-height: 19px;
          width: var(--wid);
          border: none;
          height: 47px;
        }
        .message p {
          width: var(--wid);
          text-align: center;
          color: #666666;
          font-weight: 700;
          text-align: center;
        }
        .message p:first-of-type {
          font-size: 24px;
        } */
.transport,
.cat {
  font-weight: 400;
}
.div_for_mrt{
  width: 1200px;
  margin: auto;
}
.div_for_mrt label{
  font-weight: 700;
}
.div_for_mrt select{
  border:1px solid #ddd;
  width: 150px;
  padding: 5px;
  vertical-align:baseline;
  border-radius: 5px;
  background: linear-gradient(180deg,#fff 15%,#eee 50%,#fff 85%);
}
/* body::-webkit-scrollbar {
          display: none;
        } */
.icon_collect{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 10;
  cursor:initial;
}
.icon_collect.close{
  display: none;
}
.top_attraction{
  width: 1200px;
  background-color: #eeeeee;
  margin: 30px auto;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}
.top_attraction > p{
  font-weight: 800;
}
.top_attr_item{
  display: flex;
  margin: 10px 0;
  overflow-x: scroll;
}
.top_attr_item::-webkit-scrollbar{
  height: 15px;
  background-color:#eeeeee;
  border-radius: 10px;
}
.top_attr_item > a{
  margin-right: 30px;
}
.font_top{
  font-size: 25px;
  color: #555560;
  font-weight: 700;
  margin: 30px auto;
  width: 1200px;
}
.top_attr_item::-webkit-scrollbar{
  height: 2px;
}
.view_cnt_div{
  padding: 0 10px;
  color: #aaa;
}
.description p{
  font-size: 20px;
  color: #5AC5A0;
}
#suggestion_word{
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  background-color: #ccc;
  display: none;
  z-index: 100;
}
#suggestion_word.show{
  display: block;
}
.click_word{
  cursor: pointer;
  padding: 10px;
}
.click_word:hover{
  color: #FF7f50;
}
/* #right_page{
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 70px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #66aabb;
} */
@media screen and (max-width: 1200px) {
  nav ul,
  .container,
  .word,.div_for_mrt,.font_top {
    width: 90%;
  }
  #welcome {
    left: 40%;
  }
  .input_text {
    width: 33%;
  }
  .attraction {
    width: 322px;
    height: 280px;
  }
  .attraction img:not(.icon_collect) {
    height: 70%;
  }
  .container {
    justify-content: space-evenly;
  }
  .top_attraction{
    width: 90%;
  }
  #suggestion_word{
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  #suggestion_word{
    width: 286px;
  }
  .container {
    width: 90%;
  }
  .div_for_mrt{
    text-align: center;
  }
  #welcome {
    right: 0;
    bottom: 0;
    width: 80%;
  }
  .input_text {
    width: 322px;
    margin: auto;
  }
  .attraction {
    width: 322px;
    height: 280px;
  }
  .attraction img:not(.icon_collect){
    height: 70%;
  }
  nav ul {
    width: 90%;
  }
  .word {
    width: 90%;
    text-align: center;
  }
  .container {
    justify-content: center;
  }
  /* .input_text {
            width: 85%;
            margin: auto;
          } */
}
