* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
a {
  cursor: pointer;
}
::placeholder {
  font-weight: 700;
  color: #757575;
}
:root {
  --wid: 310px;
}
nav {
  height: 54px;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: #fff;
}
nav ~ div {
  top: 54px;
  position: relative;
}
nav ul {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}
#login {
  display: none;
  font-weight: 700;
}
#logout {
  display: none;
  font-weight: 700;
}
#booking{
  display: none;
}
.title {
  color: #448899;
  font-size: 30px;
  padding: 10px 0px;
  font-weight: bold;
}
.last-item a {
  color: #666666;
  font-weight: 700;
}
.block_page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  z-index: 100;
}
.block_page.open {
  display: block;
}
.message {
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}
.message input {
  width: var(--wid);
  height: 47px;
  border: 1px solid #cccccc;
  padding: 15px;
  box-sizing: border-box;
  margin: 5px 0;
}
.message .close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.message.not_you {
  display: none;
}
.message p {
  padding: 10px 0;
}
button {
  background-color: #448899;
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  line-height: 19px;
  width: var(--wid);
  border: none;
  height: 47px;
  padding: 10px;
}
.message p {
  width: var(--wid);
  text-align: center;
  color: #666666;
  font-weight: 700;
  text-align: center;
}
.message p:first-of-type {
  font-size: 24px;
}
.copyright {
  text-align: center;
  padding: 45px 0;
  background-color: #757575;
  color: #fff;
  flex-grow: 1;
}
.message input[type="text"],
.message button,
.message input[type="password"] {
  border-radius: 10px;
}
.upper_bar {
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  border-radius: 5px 5px 0 0;
}
#message_for_error_create,
#message_for_error_login {
  color: red;
}
.abcRioButton{
  margin-top: 10px;
}
.abcRioButton span{
  font-weight: 900;
}
@media screen and (max-width: 1200px) {
  nav ul {
    width: 90%;
  }
}