#big_table {
  display: flex;
}
#member {
  flex: 0 0 100px;
  background-color: #f1f3f6;
  margin-right: 10px;
}
#member > div {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  color: black;
}
#schedule {
  display: flex;
  overflow-x: scroll;
}
#schedule > div {
  padding: 10px;
  text-align: center;
}
.week,
.date {
  width: 100px;
  font-weight: 700;
  padding: 5px;
}
.week {
  background-color: #656464;
  color: white;
}
.date {
  background-color: #dedede;
  color: black;
}
.member_chk {
  height: 50px;
  display: flex;
}
.member_chk > div {
  width: 50%;
  border: 1px solid #eee;
  box-sizing: border-box;
  line-height: 50px;
  cursor: pointer;
}
.member_chk > div:nth-child(1) {
  background-color: cornsilk;
}
.member_chk > div:nth-child(2) {
  background-color: cornflowerblue;
}
.member_chk > div{
  font-weight: 900;
}
#send_schedule {
  padding: 10px;
  margin-top: 10px;
  float: right;
}
#schedule_table{
    padding: 10px;
}
#select_leader{
  opacity: 0;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: linear-gradient(180deg,#fff 0%,#fff 20%,#ddd 40% , #ddd 60%,#fff 80% ,#fff 100%);
}
.introduction{
  display: flex;
  justify-content: space-around;
}
.blk_schedule_select{
  margin: auto;
  display: none;
  margin-bottom: 20px;
  transform: translateX(14%);
}
.blk_schedule_select.open{
  display: flex;
  flex-direction: column;
}
.order_number{
  margin-bottom: 15px;
  font-weight: 700;
  padding: 0 15px;
}
.contact_person{
  background-color: #FFFABD;
  padding: 20px;
}
.contact_person > div{

  margin-bottom: 15px;
}
.more_detail{
  display: flex;
  font-weight: 700;
  border-radius: 10px;
  border:2px solid coral;
  padding: 10px;
}
.trip_detail{
  background-color: #E5A967;
  padding: 20px;
}
.trip_detail > div:not(:first-of-type){
  margin-top: 50px;
}
.trip_detail > div >div:not(:first-of-type){
  margin-top: 10px;
}