<!DOCTYPE html>
<html>
  <head>
    <title>台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <p class="home">台北一日遊</p>
      <nav>
        <img
          onclick="showMenu()"
          alt=""
          src="image/menu_icon.png"
          width="25"
          height="25"
        />
        <ul id="navbar">
          <li>
            <a href="">預定行程</a>
          </li>
          <li>
            <a href="">登入註冊</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <p>輕鬆享受台北一日遊</p>
      <p>探索每個角落，體驗城市的深度旅遊行程</p>
      <input type="text" name="searchKeyword" />
      <input type="image" src="../static/images/icon_search.png" alt="search" />
    </main>
    <section>
      <div id="photoBox" class="photoBox"></div>
    </section>
    <footer>
      <p>COPYRIGHT© 2021 台北一日遊</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
