{% extends "model.html" %} {% block style%}
<link rel="stylesheet" href="../static/css/attraction.css" />
{% endblock %} {% block content %}
<div class="place_view">
  <div class="img_test">
    <img src="../static/btn_rightArrow.png" alt="" class="button right" />
    <img src="../static/btn_leftArrow.png" alt="" class="button left" />
    <div class="point"></div>
    <map name="control_pic">
      <area shape="rect" coords="0,0,100,406" href="#" alt="" />
      <area
        shape="rect"
        coords="440,0,540,406"
        href="#"
        alt=""
        class="rect_close"
      />
    </map>
    <map name="control_RWD">
      <area shape="rect" coords="0,0,100,406" href="#" alt="" />
      <area
        shape="rect"
        coords="240,0,340,350"
        href="#"
        alt=""
        class="rect_open"
      />
    </map>
  </div>
  <div class="img_word">
    <p id="attraction_name"></p>
    <p id="attraction_cat_and_mrt"></p>
    <div class="order_panel">
      <form action="">
        <p class="form_title">訂購導覽行程</p>
        <p>以此景點為中心的一日行程，帶你探索城市角落故事</p>
        <div id="select_date">
          <label for="date" class="form_title">選擇日期：</label
          ><input type="date" id="date" name="date" />
          <p id="error_date"></p>
        </div>
        <div id="select_time">
          <label for="" class="form_title">選擇時間：</label>
          <label>
            <input type="radio" id="up_time" name="time" checked />
            <span>上半天</span>
          </label>
          <label>
            <input type="radio" id="down_time" name="time" />
            <span>下半天</span>
          </label>
        </div>
        <p class="form_title" id="price">導覽費用：新台幣2000元</p>
        <div class="action_for_booking">
          <button id="submit_booking">開始導覽行程</button>
          <button id="collect_btn">加入收藏</button>
        </div>
        <p id="error_message_show"></p>
      </form>
    </div>
  </div>
</div>
<div class="describe">
  <div id="weather_forcast_region">
    <!-- <i class="fas fa-caret-square-left" id="left_icon"></i>
    <i class="fas fa-caret-square-right close" id="right_icon"></i> -->
    <div id="weather_tool"></div>
  </div>
  <div class="describe_content"></div>
  <div>
    <p class="des_title">景點地址</p>
    <div class="address_place"></div>
  </div>
  <div>
    <p class="des_title">交通方式</p>
    <div class="traffic"></div>
  </div>
  <div>
    <p class="des_title">近一周該區相關新聞</p>
    <div class="news"></div>
  </div>
  <div class="video">
    <p class="des_title">Youtube相關影片</p>
    <br />
    <iframe
      id="yt_video"
      width="560"
      height="315"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
<div class="message_block">
  <p class="des_title">留言區</p>
  <br />
  <div class="message_content">
    <blockquote id="leave_msg_textarea" contenteditable="true"></blockquote>
    <button id="btn_msg">送出</button>
  </div>
  <br />
  <div id="msg_history"></div>
  <!-- <div class="msg_below">
    <p id="msg_name">蔡承翰</p>
    <p id="msg_time">2021-06-03</p>
    <p id="msg_context">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo culpa
      recusandae nesciunt consectetur nemo iure dignissimos consequuntur ea,
      vero possimus, officia ipsa ipsum minus quae modi aspernatur adipisci?
      Amet, pariatur?
    </p>
  </div> -->
  <button id="btn_more_msg">載入更多</button>
</div>
<!-- <div id="weather_forcast_region">
  <i class="fas fa-caret-square-left" id="left_icon"></i>
  <i class="fas fa-caret-square-right close" id="right_icon"></i>
  <div id="weather_tool">
    
  </div>
</div> -->
{% endblock %} {% block script %}
<script src="../static/js/attraction.js"></script>
{% endblock %}
