<!DOCTYPE html>
<html>
  <head>
    <title>台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bookingStyle.css" />
    <link rel="stylesheet" href="../static/css/authenticationStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="home">台北一日遊</a>
      <nav class="nav">
        <a id="bookingTour" onclick="loginOrBooking()">預定行程</a>
        <a id="loginOrSignup"></a>
        <input
          id="memberIcon"
          type="image"
          onclick="toMemberPage()"
          src="../static/images/icon_user.png"
        />
      </nav>
    </header>
    <section id="bookingSection">
      <div id="bookingInfo">
        <p id="bookingTitle">您好，，待預訂的行程如下：</p>
        <div id="tourImgAndInfo">
          <div id="tourImgDiv">
            <img id="tourImg" />
          </div>
          <div id="tourInfoDiv">
            <p id="tourTitle"></p>
            <p id="tourDate"><b>日期：</b><span id="dateSpan"></span></p>
            <p id="tourTime"><b>時間：</b><span id="timeSpan"></span></p>
            <p id="tourFee"><b>費用：</b><span id="feeSpan"></span></p>
            <p id="tourLocation">
              <b>地點：</b><span id="locationSpan"></span>
            </p>
          </div>
          <button
            type="button"
            id="deleteIconBtn"
            onclick="deleteReservation()"
          ></button>
        </div>
        <hr id="underBooking" />
      </div>
      <div id="paymentInfo">
        <form id="paymentForm">
          <fieldset id="contactInfo">
            <p id="userInfoTitle">您的聯絡資訊</p>
            <label id="contactPersonLabel" for="contactPerson"
              >聯絡姓名：</label
            >
            <input
              id="contactPersonInput"
              type="text"
              name="contactPerson"
              required
            /><br />
            <label id="contactEmailLabel" for="contactEmail">聯絡信箱：</label>
            <input
              id="contactEmailInput"
              name="contactEmail"
              type="email"
              pattern=".+@.+\..+"
              oninvalid="this.setCustomValidity('Email格式：example@mail.com')"
              onchange="this.setCustomValidity('')"
              required
            /><br />
            <label id="contactNumberLabel" for="contactNumber"
              >連絡電話：</label
            >
            <input
              id="contactNumberInput"
              type="tel"
              name="contactNumber"
              pattern="[0-9]{10}"
              oninvalid="this.setCustomValidity('請輸入10碼數字')"
              onchange="this.setCustomValidity('')"
              required
            /><br />
            <div id="contactStorage" onclick="useContactInfo()">
              <div id="checkCircle">
                <img
                  id="checkTick"
                  src="../static/images/icon_tick.png"
                  style="display: none"
                />
              </div>
              <p>同常用聯絡人資訊</p>
            </div>
            <p>
              請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
            </p>
          </fieldset>
          <hr />
          <fieldset id="creditInfo">
            <p id="creditInfoTitle">信用卡付款資訊</p>
            <div id="creditCardForm">
              <div class="form-group card-number-group">
                <label
                  for="card-number"
                  class="control-label"
                  id="creditCardNumberLabel"
                  ><span id="cardtype"></span>卡片號碼：</label
                >
                <div class="form-control card-number"></div>
              </div>
              <div class="form-group expiration-date-group">
                <label
                  for="expiration-date"
                  class="control-label"
                  id="creditCardExpLabel"
                  >過期時間：</label
                >
                <div
                  class="form-control expiration-date"
                  id="tappay-expiration-date"
                ></div>
              </div>
              <div class="form-group cvc-group">
                <label for="cvc" class="control-label" id="creditCardCvcLabel"
                  >驗證密碼：</label
                >
                <div class="form-control cvc"></div>
              </div>
            </div>
          </fieldset>
          <hr id="bottomLine" />

          <p id="totalPrice">總價：</p>
          <input
            id="bookingConfirmBtn"
            type="submit"
            name="submit"
            value="確認訂購並付款"
          />
        </form>
      </div>
    </section>
    <footer id="bookingFooter">
      <p>COPYRIGHT© 2021 台北一日遊</p>
    </footer>
    <div id="modal">
      <div id="loginTable" class="modalContent">
        <div class="authBody" id="loginBody" style="display: block">
          <p class="modalTableTitle">登入會員帳號</p>
          <button
            type="button"
            class="closeIconBtn"
            onclick="closeModal()"
          ></button>
          <form
            class="authForm"
            id="loginForm"
            action="/api/user"
            method="PATCH"
          >
            <input
              type="text"
              id="loginEmail"
              name="email"
              placeholder="輸入電子信箱"
            />
            <input
              type="password"
              id="loginPassword"
              name="password"
              placeholder="輸入密碼"
            />
            <input type="submit" value="登入帳戶" />
          </form>
          <p class="showResult"></p>
          <p id="toSignupText" class="loginOrSignupText">
            還沒有帳戶？<span onclick="toggleAuthTable()" id="clickToSignup"
              >點此註冊</span
            >
          </p>
        </div>
      </div>
      <div id="signupTable" class="modalContent">
        <div class="authBody" id="signupBody" style="display: none">
          <p class="modalTableTitle">註冊會員帳號</p>
          <button
            type="button"
            class="closeIconBtn"
            onclick="closeModal()"
          ></button>
          <form class="authForm" id="signupForm" action="/api/user">
            <input
              type="text"
              id="signupName"
              name="name"
              placeholder="輸入姓名"
              required
            />
            <input
              type="text"
              id="signupEmail"
              name="email"
              placeholder="輸入電子信箱"
              pattern=".+@.+\..+"
              oninvalid="this.setCustomValidity('Email格式：example@mail.com')"
              onchange="this.setCustomValidity('')"
              required
            />
            <input
              type="password"
              id="signupPassword"
              name="password"
              placeholder="輸入密碼"
              pattern="[a-zA-Z0-9]{8,}"
              oninvalid="this.setCustomValidity('請輸入英數字至少8碼')"
              onchange="this.setCustomValidity('')"
              required
            />
            <input type="submit" value="註冊新帳戶" />
          </form>
          <p class="showResult"></p>
          <p id="toLoginText" class="loginOrSignupText">
            已經有帳戶？<span onclick="toggleAuthTable()" id="clickToLogin"
              >點此登入</span
            >
          </p>
        </div>
      </div>
    </div>
    <script src="../static/js/bookingScript.js"></script>
    <script src="../static/js/authentication.js"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/TapPay.js"></script>
  </body>
</html>
