{% extends "model.html" %} {% block style%}
<script src="https://js.tappaysdk.com/tpdirect/v5.5.0"></script>
<link rel="stylesheet" href="../static/css/booking.css" />
{% endblock %} {% block content %}
<div class="order_page">
  <div class="schedule">
    <p id="howareyou">您好，{{session.name}}，你待確認的行程如下</p>
    <p id="messgae_for_null">目前沒有任何待預訂的行程</p>
    <!-- <div class="checkout">
      <div class="photo"></div>
      <div class="word_to_paid">
        <p class="title_word_to_paid">台北一日遊1</p>
        <p class="information">日期：</p>
        <p class="information">時間：</p>
        <p class="information">費用：</p>
        <p class="information">地點：</p>
      </div>
      <img src="../static/icon_delete.png" alt="" class="delete">
    </div> -->
  </div>
  <div class="contact form_div">
    <form action="" class="form_style">
      <p>你的連絡資訊</p>
      <div>
        <label for="">聯絡姓名：</label
        ><input type="text" placeholder="ex:Yakoo" id="order_name" />
      </div>
      <div>
        <label for="">聯絡信箱：</label
        ><input
          type="text"
          placeholder="ex:imyeeee@gmail.com"
          id="order_email"
        />
      </div>
      <div>
        <label for="">手機號碼：</label><input type="text" id="order_phone" />
      </div>
      <p>
        請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式
      </p>
    </form>
  </div>
  <div class="paid form_div">
    <div class="credit_card_panel">
      <p>信用卡付款資訊</p>
      <div class="order_credit_card">
        <label for="card-number">卡片號碼：</label>
        <div class="tpfield" id="card-number"></div>
      </div>
      <div class="order_credit_card">
        <label for="card-expiration-date">過期時間：</label>
        <div class="tpfield" id="card-expiration-date"></div>
      </div>
      <div class="order_credit_card">
        <label for="card-ccv">驗證密碼：</label>
        <div class="tpfield" id="card-ccv"></div>
      </div>
      <!-- <button id="submit-button" onclick="onClick()">Get Prime</button>
      <button id="xxx" onclick="search()">search</button> -->
    </div>
  </div>
  <div class="ready_to_paid form_div">
    <div class="summary">
      <p id="total_sum">確認總價：新台幣2000元</p>
      <button id="confirm_order_btn" onclick="onClick()">確認訂購並付款</button>
      <p id="status_code"></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
{% endblock %} 
{% block script %} 
<script>
  let booking_name = "{{session.name}}"
  let booking_email = "{{session.email}}"
</script>
<script src="../static/js/booking.js"></script>
{% endblock %}