{% extends "model.html" %} {% block style%}
<style>
  .forget_board {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    margin: auto;
    align-items: center;
    justify-content: space-around;
  }
  #forget_email {
    padding: 10px;
    width: 200px;
  }
  #error_send {
    color: red;
    font-weight: 700;
  }
  @media screen and (max-width: 800px) {
    .forget_board {
      width: fit-content;
    }
  }
</style>
{% endblock %} {% block content %}
<div class="forget_board">
  <div class="email_input">
    <label for="forget_email">請輸入註冊email：</label>
    <input type="text" name="" id="forget_email" />
  </div>
  <button id="send_mail">寄送驗證信</button>
  <p id="error_send"></p>
</div>
{% endblock %} {% block script %}
<script>
  let error_send = document.getElementById("error_send");
  let send_email = document.getElementById("send_mail");
  send_email.addEventListener("click", function () {
    document.getElementById("error_send").innerHTML = "寄送中";
    fetch("/api/forget", {
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        mail: document.getElementById("forget_email").value,
      }),
      method: "POST",
    })
      .then((res) => {
        return res.json();
      })
      .then((data) => {
        if (data["ok"]) {
          error_send.innerHTML = "寄送成功!!!!!";
        }
        if (data["error"]) {
          error_send.innerHTML = "寄送失敗!!!!!你並非會員";
        }
      });
  });
</script>
{% endblock %}