<!DOCTYPE html>
<html>
  <head>
    <title>台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/authenticationStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <p class="home">台北一日遊</p>
      <nav class="nav">
        <a href="">預定行程</a>
        <a href="">登入/註冊</a>
      </nav>
    </header>
    <main>
      <div class="sloganAndSearchInput">
        <p class="slogan1">輕鬆享受台北一日悠閒</p>
        <p class="slogan2">探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="searchBar">
          <input
            type="text"
            id="keywordInput"
            class="searchInput"
            name="keyword"
            placeholder="輸入景點名稱查詢"
          />
          <button
            type="button"
            onclick="searchKeyword()"
            class="searchBtn"
          ></button>
        </div>
      </div>
    </main>
    <section class="spots">
      <div id="photoBox" class="photoBox"></div>
    </section>
    <footer>
      <p class="copyRight">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
