<!DOCTYPE html>
<html>
  <head>
    <title>台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <p class="home">台北一日遊</p>
      <nav class="nav">
        <img
          onclick="showMenu()"
          alt=""
          src="image/menu_icon.png"
          width="25"
          height="25"
        />
        <a href="">預定行程</a>
        <a href="">登入/註冊</a>
      </nav>
    </header>
    <main>
      <div class="sloganAndSearchInput">
        <p class="slogan1">輕鬆享受台北一日悠閒</p>
        <p class="slogan2">探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="searchBar">
          <input
            type="text"
            class="searchInput"
            name="searchKeyword"
            value="輸入景點名稱查詢"
          />
          <button type="button" class="searchBtn"></button>
        </div>
      </div>
    </main>
    <section class="spots">
      <div id="photoBox" class="photoBox"></div>
      <!-- <div id="photoBox" class="photoBox">
        <div class="photoCard">
          <img src="../static/images/pic1.jpg" />
          <p class="titleName">title1</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic2.jpg" />
          <p class="titleName">title2</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic3.jpg" />
          <p class="titleName">title3</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic4.jpg" />
          <p class="titleName">title4</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic5.jpg" />
          <p class="titleName">title5</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic6.jpg" />
          <p class="titleName">title6</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic7.jpg" />
          <p class="titleName">title7</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic8.jpg" />
          <p class="titleName">title8</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic8.jpg" />
          <p class="titleName">title8</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic8.jpg" />
          <p class="titleName">title8</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic8.jpg" />
          <p class="titleName">title8</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
        <div class="photoCard">
          <img src="../static/images/pic8.jpg" />
          <p class="titleName">title8</p>
          <p class="mrt">mrt</p>
          <p class="category">category</p>
        </div>
      </div> -->
    </section>
    <footer>
      <p class="copyRight">COPYRIGHT© 2021 台北一日遊</p>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
