<!DOCTYPE html>
<html>
  <head>
    <title>台北一日遊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/authenticationStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/" class="home">台北一日遊</a>
      <nav class="nav">
        <a id="bookingTour" onclick="loginOrBooking()">預定行程</a>
        <a id="loginOrSignup"></a>
      </nav>
    </header>
    <main>
      <div class="sloganAndSearchInput">
        <p class="slogan1">輕鬆享受台北一日悠閒</p>
        <p class="slogan2">探索每個角落，體驗城市的深度旅遊行程</p>
        <div class="searchBar">
          <input
            type="text"
            id="keywordInput"
            class="searchInput"
            name="keyword"
            placeholder="輸入景點名稱查詢"
          />
          <button
            type="button"
            onclick="searchKeyword()"
            class="searchBtn"
          ></button>
        </div>
      </div>
    </main>
    <section class="spots">
      <div id="photoBox" class="photoBox"></div>
    </section>
    <footer>
      <p class="copyRight">COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <div id="modal">
      <div id="loginTable" class="modalContent">
        <div class="authBody" id="loginBody" style="display: block">
          <p class="modalTableTitle">登入會員帳號</p>
          <button
            type="button"
            class="closeIconBtn"
            onclick="closeModal()"
          ></button>
          <form
            class="authForm"
            id="loginForm"
            action="/api/user"
            method="PATCH"
          >
            <input
              type="text"
              id="loginEmail"
              name="email"
              placeholder="輸入電子信箱"
              required
            />
            <input
              type="password"
              id="loginPassword"
              name="password"
              placeholder="輸入密碼"
              required
            />
            <input type="submit" value="登入帳戶" />
          </form>
          <p class="showResult"></p>
          <p id="toSignupText" class="loginOrSignupText">
            還沒有帳戶？<span onclick="toggleAuthTable()" id="clickToSignup"
              >點此註冊</span
            >
          </p>
        </div>
      </div>
      <div id="signupTable" class="modalContent">
        <div class="authBody" id="signupBody" style="display: none">
          <p class="modalTableTitle">註冊會員帳號</p>
          <button
            type="button"
            class="closeIconBtn"
            onclick="closeModal()"
          ></button>
          <form class="authForm" id="signupForm" action="/api/user">
            <input
              type="text"
              id="signupName"
              name="name"
              placeholder="輸入姓名"
              required
            />
            <input
              type="text"
              id="signupEmail"
              name="email"
              placeholder="輸入電子信箱"
              required
            />
            <input
              type="password"
              id="signupPassword"
              name="password"
              placeholder="輸入密碼"
              required
            />
            <input type="submit" value="註冊新帳戶" />
          </form>
          <p class="showResult"></p>
          <p id="toLoginText" class="loginOrSignupText">
            已經有帳戶？<span onclick="toggleAuthTable()" id="clickToLogin"
              >點此登入</span
            >
          </p>
        </div>
      </div>
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/authentication.js"></script>
  </body>
</html>
