<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #context{
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div id="context">
        {% for item in data %}
            <p>{{item.date}} {{item.time}} 有行程，單號為：<a href='https://www.taipei-attraction.com/thankyou?number={{item.orderid}}'>{{item.orderid}}<a/></p>
        {% endfor %}
    </div>
</body>
</html>