<head>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  <meta
    name="google-signin-client_id"
    content="731192245120-c6pofopqhql356ft91tfleobqnkrg5pa.apps.googleusercontent.com"
  />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="../static/taipei-101.ico"
  />
  <title>台北一日遊</title>
  <link rel="stylesheet" href="../static/css/model.css" />
  {% block style %}{% endblock %}
</head>
<body>
  <div class="block_page">
    <div id="login_create">
      <form class="message login" id="login_board">
        <div class="upper_bar"></div>
        <p>登入會員帳號</p>
        <input type="text" placeholder="輸入電子信箱" id="login_email" />
        <input type="password" placeholder="輸入密碼" id="login_password" />
        <button id="login_btn">登入帳戶</button>
        <p>or</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <p id="message_for_error_login"></p>
        <p>還沒有帳戶?<a id="create_account">點此註冊</a></p>
        <img src="../static/icon_close.png" alt="" class="close" />
      </form>
      <form class="message create not_you" id="create_board">
        <div class="upper_bar"></div>
        <p>註冊會員帳號</p>
        <input type="text" placeholder="輸入姓名" id="create_name" />
        <input type="text" placeholder="輸入電子信箱" id="create_email" />
        <input type="password" placeholder="輸入密碼" id="create_password" />
        <button id="create_account_btn">註冊新帳戶</button>
        <p id="message_for_error_create"></p>
        <p>已經有帳戶了?<a id="login_account">點此登入</a></p>
        <img src="../static/icon_close.png" alt="" class="close" />
      </form>
    </div>
  </div>
  <nav>
    <ul>
      <a href="/" class="title">台北一日遊</a>
      <li class="last-item">
        <a id="booking">預定行程</a>
        <a id="login">註冊/登入</a>
        <a id="logout">登出</a>
      </li>
    </ul>
  </nav>
  {% block content %}{% endblock %}
  <div class="copyright">Copyright &copy; 2021 台北一日遊</div>
</body>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="../static/js/model.js"></script>
{% block script %}{% endblock %}